.application-detail-page,
.company-detail-page {
  place-items: center;
  .page-info {
    margin: 20px 0px;
  }

  .application-header,
  .company-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 0px;
    }
  }

  .company-info {
    display: flex;
    align-items: center;
    gap: 0.4em;

    * {
      margin: 0px;
    }

    .company-text {
      cursor: pointer;
      text-decoration: underline;
    }

    .company-text:hover {
      color: var(--gray);
    }
  }

  .label-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .list-content {
    min-height: 10vh;
  }

  .application-details,
  .company-details {
    width: clamp(250px, 80%, 2000px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .application-btns,
    .company-btns {
      display: flex;
      gap: 20px;
    }
  }

  .tags {
    .tag {
      width: fit-content;
      background-color: lightgray;
      padding: 5px;
      border-radius: 10px;
    }

    .category-list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.6em;
    }
  }

  .dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.7em;

    h4 {
      font-weight: 500;
      color: gray;
    }
  }
}

h4 {
  margin-bottom: 10px;
}

p {
  margin-top: 0px;
}

.website-URL {
  text-decoration: none;
  color: var(--text-color);
}

.company-detail-page {
  .apps-list {
    margin: 10px;
    .application {
      border: 1px solid var(--primary-color);
    }
  }
}
