.data-page {
  .data-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
    .summary-chart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
    }

    .chart-container {
      background-color: var(--card-bg-color);
      box-shadow: 1px 0px 2px 0px var(--primary-color);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 70px;

      width: 80vw;
      min-height: 60vh;
      padding: 50px 20px;

      .chart-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;

        gap: 20px;
      }

      .chart {
        place-items: center;
        padding: 20px;
        border-radius: 5px;
        width: 100%;
        min-height: 30vh;
        min-width: 250px;
        background-color: var(--background-color);
        color: var(--text-color);
      }

      .chart-buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;

        .preset-range {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
        }

        .custom-range {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          align-items: start;
        }
      }

      fieldset {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0.3em;
        width: 45%;
      }

      .chart-details {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        min-width: 200px;
        justify-content: center;
      }
    }

    .chart-title {
      font-size: 1.2em;
      font-weight: 500;
      border: transparent;

      * {
        color: inherit;
        background-color: inherit;
      }
    }
  }
}
