/* CSS file for list items, including applications and companies*/

.list-container {
  margin: 20px auto;
  width: 100%;

  .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .add-btn {
      color: var(--text-color);
      cursor: pointer;
      font-size: 2.6rem;
      margin: 0px 5px;

      padding: 0px 8px;
    }
    .add-btn:hover {
      color: var(--card-bg-color);
    }
  }

  .page-numbers {
    padding: 15px;
    place-items: center;
  }
}

.list-content {
  min-height: 50vh;
  padding: 20px;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  .child {
    background-color: var(--background-color);
    border-radius: 5px;
    width: 100%;
    padding: 0px 10px;
  }

  .no-display {
    margin: auto;
    text-align: center;
  }

  .long {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    max-height: 20vh;
    border-radius: 3px;
    background-color: var(--background-color);
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 0px 7px 0px var(--shadow-color);

    display: flex;
    align-items: start;
    justify-content: space-between;

    overflow: auto;

    .text {
      width: 100%;
      height: 100%;
      margin: 0px 20px;
      overflow: auto;

      /* description text cuts off with ellipsis after 2 lines */
      .ellipsis-overflow {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .featured:hover,
    .favorite:hover,
    .not-featured:hover,
    .not-favorite:hover {
      font-size: 1.2em;
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 10px;

      align-items: end;

      p {
        margin: 0px;
      }
    }
  }

  .unknown {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 501px) {
    .long {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .details {
        margin: 10px 0px;
        flex-direction: row;
        gap: 10px;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
      }
      .unknown {
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .unknown {
          margin-left: auto;
          gap: 5px;
        }
      }
    }
  }
}

.list-content.visible-bg {
  background-color: var(--card-bg-color);
}

.application,
.company {
  cursor: pointer;
  animation-name: animatescale;
  animation-duration: 1s;
}

.application:hover,
.company:hover {
  cursor: pointer;
  animation-name: animatescale;
  animation-direction: reverse;
  animation-duration: 1s;
  transform: scale(1.02);
  box-shadow: 0px 2px 2px 1px var(--shadow-color);
}

@keyframes animatescale {
  from {
    transform: scale(1.02);
    box-shadow: 0px 0px 3px 0px var(--shadow-color);
  }
  to {
    transform: scale(1);
  }
}

.notes-list {
  max-height: 60vh;
  overflow: auto;
  padding: 10px;

  .child {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7em;
    padding: 5px 15px;

    form {
      .text {
        width: 100%;
      }
    }

    #task {
      font-weight: 500;
      font-size: 1.3em;
    }
    input {
      border: transparent;
      width: 100%;
    }
  }

  .task-item {
    width: 200px;
  }

  .add-task-container {
    background-color: var(--inverse-text);
    box-shadow: 0px 2px 2px 1px var(--shadow-color);
  }
}
