/* CSS file for list items, including applications and companies*/

.list-container {
  margin: 20px auto;
  width: 100%;

  .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      cursor: pointer;
      font-size: 1.3rem;
      margin: 0px 5px;

      background-color: rgba(211, 211, 211, 0.342);
      border-radius: 50px;
      padding: 0px 8px;
    }
  }
}

.list-content {
  background-color: var(--card-bg-color);
  padding: 20px;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  .child {
    background-color: var(--background-color);
    border-radius: 5px;
    width: 100%;
    padding: 0px 10px;
  }

  .long {
    padding: 10px 20px;
    width: 100%;
    border-radius: 3px;
    background-color: var(--background-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      width: 100%;
      margin: 0px 20px;
      .ellipsis-overflow {
        text-overflow: ellipsis;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 10px;

      align-items: end;

      p {
        margin: 0px;
      }
    }

    .unknown {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 501px) {
      .unknown {
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .unknown {
          margin-left: auto;
          gap: 5px;
        }
      }
    }
  }
}

.application,
.company {
  cursor: pointer;
  animation-name: animatescale;
  animation-duration: 1s;
}

.application:hover,
.company:hover {
  cursor: pointer;
  animation-name: animatescale;
  animation-direction: reverse;
  animation-duration: 1s;
  transform: scale(1.02);
  box-shadow: 0px 0px 3px 0px var(--primary-color);
}

@keyframes animatescale {
  from {
    transform: scale(1.02);
    box-shadow: 0px 0px 3px 0px var(--primary-color);
  }
  to {
    transform: scale(1);
  }
}
