#loading-modal {
  margin-top: 10vh;
  height: calc(100% - 10vh);
  background-color: inherit;
  .modal-content {
    height: fit-content;
    width: 500px;
    min-width: min-content;
    background-color: inherit;
    box-shadow: none;
    border: transparent;

    display: flex;
    flex-direction: column;

    * {
      margin: auto;
    }

    .loading-spinner {
      animation: spin 2s linear infinite;
      font-size: 100px;
      color: var(--text-color);
      margin: 0.2em auto;
    }
  }
}

.mini-modal {
  margin: auto !important;
  height: 100%;
  width: 100%;
  background-color: inherit;

  .modal-content {
    height: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
