.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin: auto;
  width: 60%;
  max-width: 40vw;
  border-radius: 3px;

  form {
    width: 100%;
  }

  .input-container {
    width: 100%;
  }

  input {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .subtitle {
    color: var(--mantine-color-dimmed);
    text-align: center;
    margin-top: 5px;
  }

  .login-btns,
  .register-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    margin-top: 1rem;

    hr {
      width: 60vw;
      margin: 20px 0px;
    }

    .login-btn,
    .register-btn,
    .google-btn {
      width: 47%;
      min-width: 130px;
      padding: 5px;
      place-content: center;
      color: var(--text-color);

      text-decoration: none;
    }

    .alt-login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      p {
        margin: 0px;
      }
    }
  }

  .error-text {
    padding: 10px 20px;
    border-radius: 3px;
    color: var(--delete-red);
  }

  .success-text {
    padding: 10px 20px;
    border-radius: 3px;
    color: green;
  }

  .google-btn {
    display: flex;
    gap: 0.7em;
    align-items: center;

    .google-logo {
      border-radius: 10px;
      font-size: x-large;
      margin: auto 0px;
    }
  }
}
