.settings-page {
  place-items: center;

  * {
    place-items: center;
  }

  .settings-list {
    display: flex;
    align-items: center;
    gap: 20px;

    * {
      margin: 0px;
      font-size: 1em;
    }

    select {
      border-radius: 5px;
      min-width: 100px;
    }
  }
}
