.status-btn {
  font-size: 1rem;
  font-weight: 350;
  padding: 3px;
  width: 80px;
}

.status-btn.Signed {
  background-color: var(--signed);
}

.status-btn.Rejected {
  background-color: var(--rejected);
}

.status-btn.Applied {
  background-color: var(--applied);
}

.status-btn.Interview {
  background-color: var(--interview);
}

.status-btn.Offer {
  background-color: var(--offer);
}

.status-btn.Other {
  background-color: var(--other);
}
