:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #121f38;
  --secondary-color: #bccff2;
  --hover-color: #787093;
  --background-color: #2e2e2e;
  --card-bg-color: rgb(25, 26, 29);
  --text-color: #e3e3e3;
  --delete-red: rgb(122, 40, 34);
  --gray: rgb(198, 198, 198);

  /* Colors for status */
  --interview: #e29727;
  --offer: #4caf50;
  --rejected: #d74130;
  --signed: #9b59b6;
  --applied: #3498db;
  --other: #817e7e;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  * {
    box-sizing: border-box;
  }

  [data-theme="light"] {
    --text-color: #000000;
    --background-color: #f9f9f9;
    --card-bg-color: #cad0df;
    --primary-color: #bccff2;
    --secondary-color: #121f38;
    --hover-color: #ccd6ea;
    --gray: rgb(63, 63, 63);
    --delete-red: rgb(221, 132, 132);

    /* Colors for status */
    --interview: #f0b66a;
    --offer: #8dcf98;
    --rejected: #e68a8a;
    --signed: #b199cc;
    --applied: #7caedc;
    --other: #c5c5c5;

    background-color: var(--background-color);
    color: var(--text-color);

    a:hover {
      color: #747bff;
    }
  }
}

body,
#main-content {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  position: relative;
  min-height: 85vh;
  width: 90vw;
  margin: 0px auto;
  padding: 10px;

  * {
    background-color: inherit;
    color: inherit;
  }

  select:focus {
    outline: none; /* Remove default outline */
  }
}

h2 {
  font-weight: 300;
  font-size: 2.1rem;
  text-align: center;
}

button {
  max-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--primary-color);
}

.delete-btn {
  background-color: var(--delete-red);
}
.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.421);
}
